doctype html
.home-wrapper
    .tabs-wrapper
        .tab-title Viser {{filteredContactsByTabs.length}} personer.
        | Kompetencer: 
        .tabs-list
            .tab-item(*ngFor="let tab of filterTabs", (click)="removeTab(tab)")
                i.fa.fa-remove
                | {{tab}}
        | Totalt antal personer i databasen: {{contacts.length}}
        .reset((click)="resetTabs()")
            i.fa.fa-refresh 
            | Filter

    .wrap
        .search-wrapper
            input(#search, (keyup)="onSearch(search.value)", placeholder="Søg i kontakter...")
        .list-wrapper
            .list-item(*ngFor="let item of filteredContactsByTabs", (click)="itemClicked(item)", [class.active]="activeItem === item", [class.notActive]="activeItem !== item")
                //- her burde man lave en ny component og sende et object med som input
                .item
                    .name {{item.name}}
                    i.fa([class.fa-chevron-right]="activeItem !== item", [class.fa-chevron-down]="activeItem === item")
                .skill-wrapper([class.skill-active]="activeItem === item")
                    .skills 
                        i.fa.fa-lightbulb-o 
                        .title SKILLS
                    .skillproperty
                        .prop(*ngFor="let property of item.skills") {{property}}
        .add-wrapper
            .add-title
                i.fa.fa-plus
                | Tilføj Kontakt
            .add-name
                input([(ngModel)]="tempContact.name", placeholder="Skriv et navn")
            .add-skill
                input([(ngModel)]="tempContact.skill", placeholder="Tilføj en kompetence")
                i.fa.fa-plus((click)="addSkill()")
            .add-skill-list
                .add-skill-item(*ngFor="let skillItem of newContact.skills", (click)="removeSkill(skillItem)")
                    | {{skillItem}}
                    i.fa.fa-remove
            .add-save((click)="saveNewPerson()")
                i.fa.fa-save
                | Gem