doctype html
.home-wrapper
    .tabs-wrapper
        .tab-title Viser {{filteredContactsByTabs.length}} personer.
        | Kompetencer: 
        .tabs-list
            .tab-item(*ngFor="let tab of filterTabs", (click)="removeTab(tab)")
                i.fa.fa-remove
                | {{tab}}
        | Totalt antal personer i databasen: {{contacts.length}}
        .reset((click)="resetTabs()")
            i.fa.fa-undo
            | Filter

    .wrap
        .search-wrapper
            input(#search, (keyup)="onSearch(search.value)", placeholder="Søg i kontakter...")
        .list-wrapper
            .list-item(*ngFor="let item of filteredContactsByTabs", (click)="itemClicked(item)", [class.active]="activeItem === item", [class.notActive]="activeItem !== item")
                //- her burde man lave en ny component og sende et object med som input
                .item
                    .name {{item.name}}
                    i.fa([class.fa-chevron-right]="activeItem !== item", [class.fa-chevron-down]="activeItem === item")
                .skill-wrapper([class.skill-active]="activeItem === item")
                    .skills 
                        i.fa.fa-lightbulb-o 
                        .title SKILLS
                    .skillproperty
                        .prop(*ngFor="let property of item.skills") {{property}}
    .add-wrapper
        .add-title
            i.fa.fa-male
            | Tilføj Kontakt
        .add-name
            input([(ngModel)]="tempContact.name", placeholder="Skriv et navn", (keyup)="toggleWarning()")
        .add-skill
            input([(ngModel)]="tempContact.skill", placeholder="Tilføj en kompetence", (keyup)="toggleWarning()")
            i.fa.fa-plus((click)="addSkill()")
        .add-skill-list
            .add-skill-item(*ngFor="let skillItem of newContact.skills", (click)="removeSkill(skillItem)")
                | {{skillItem}}
                i.fa.fa-remove
        .add-save((click)="saveNewPerson()", *ngIf="newContact.skills.length > 0")
            i.fa.fa-save
            | Gem
        .add-warning(*ngIf="hideUntilError")
                div([class.warningSkillActive]="warningSkill", [class.warningSkillNotActive]="!warningSkill", *ngIf="newContact.skills.length === 0")
                    | Der skal tilføjes et eller flere skills
                div([class.warningNameActive]="warningName", [class.warningNameNotActive]="!warningName")
                    | Der skal tilføjes et navn